In [1402]:
# Импорт необходимых библиотек
from sklearn.model_selection import  cross_val_score
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import TimeSeriesSplit
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import StratifiedKFold
from sklearn.linear_model import Ridge
from sklearn.model_selection import KFold
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
import numpy as np
import pandas as pd

### Кросс-валидация для задачи регрессии, используем k-fold Cross-Validation и Shuffle Split. Модель для обучения Linear Regression, с использованием методов PolynomialFeatures и Ridge Regression.

Лучший результат на данных Advertising.csv на модели обучения Ridge Regression, показал метод PolynomialFeatures в сочетании с Shuffle Split.

In [1403]:
#  Подготовка данных
df = pd.read_csv('Advertising.csv')
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [1404]:
df.describe()

               TV       radio   newspaper       sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

In [1405]:
# Разбиваем данные на признаки и целевую пееременную
X = df.drop('sales',axis=1)
y=df['sales']

In [1406]:
# Выбор модели для обучения
model=LinearRegression()

In [1407]:
# Функция оценки модели
def model_estimation(scores):
    print("CV Scores:", scores)
    print("Average Score:", scores.mean())
    print('Стандартное отклонение:',np.std(scores) )

При увеличении n_splits оценка модели ухудшается

In [1408]:
# K-Fold Cross Validation
kf = KFold(n_splits=5)
scores_kf = cross_val_score(model, X, y, cv=kf)
model_estimation(scores_kf)

CV Scores: [0.87865198 0.91763212 0.92933032 0.81443904 0.89547829]
Average Score: 0.8871063495438436
Стандартное отклонение: 0.04034052587780573

In [1409]:
# K-Fold Cross Validation
kf = KFold(n_splits=3)
scores_kf = cross_val_score(model, X, y, cv=kf)
model_estimation(scores_kf)

CV Scores: [0.90438089 0.86536009 0.9051984 ]
Average Score: 0.8916464591145559
Стандартное отклонение: 0.018590265010653403

In [1410]:
# K-Fold Cross Validation
kf = KFold(n_splits=7)
scores_kf = cross_val_score(model, X, y, cv=kf)
model_estimation(scores_kf)

CV Scores: [0.86887777 0.91242879 0.90513829 0.93759766 0.79084288 0.87124433
 0.91582143]
Average Score: 0.885993021982354
Стандартное отклонение: 0.0450113789685

ShuffleSplit дает самую адекватную оценку. Вариативность score ниже, значит задача решена лучше

In [1411]:
ss = ShuffleSplit(n_splits=5, test_size=0.25)
scores_ss = cross_val_score(model, X, y, cv=ss)
model_estimation(scores_ss)

CV Scores: [0.91091459 0.92939785 0.90729422 0.90082419 0.92138117]
Average Score: 0.9139624037166199
Стандартное отклонение: 0.010194681691274375

Добавляем метод PolynomialFeatures, вариативность score ниже, значит задача решена лучше.

In [1412]:
polynomial_converter = PolynomialFeatures(degree=2)
poly_features = polynomial_converter.fit_transform(X)
model=LinearRegression()

In [1413]:
# K-Fold Cross Validation
kf = KFold(n_splits=5)
scores_kf = cross_val_score(model,poly_features, y, cv=kf)
model_estimation(scores_kf)

CV Scores: [0.98795615 0.98937857 0.99129812 0.95889074 0.99374691]
Average Score: 0.984254098158007
Стандартное отклонение: 0.01282963129732799

ShuffleSplit дает самую адекватную оценку

In [1414]:
ss = ShuffleSplit(n_splits=5, test_size=0.25)
scores_ss = cross_val_score(model, poly_features, y, cv=ss)
model_estimation(scores_ss)

CV Scores: [0.98490331 0.96715168 0.98879863 0.99116843 0.97153301]
Average Score: 0.9807110115459775
Стандартное отклонение: 0.009596181155061523

Добавляем регуляризацию для линейной регрессии, получаем больший разброс значений score, что говорит о высокой вариативности данных, что плохое решение.

In [1415]:

ridge_model=Ridge(alpha=10)

# K-Fold Cross Validation
kf = KFold(n_splits=5)
scores_kf = cross_val_score(ridge_model,X, y, cv=kf)
model_estimation(scores_kf)

CV Scores: [0.87865135 0.91762749 0.9293339  0.81449888 0.89544139]
Average Score: 0.8871106030388489
Стандартное отклонение: 0.04031751398138138

In [1416]:
ss = ShuffleSplit(n_splits=5, test_size=0.25)
scores_ss = cross_val_score(ridge_model, X, y, cv=ss)
model_estimation(scores_ss)

CV Scores: [0.89817045 0.9138595  0.91602522 0.91623943 0.83671339]
Average Score: 0.8962015985769722
Стандартное отклонение: 0.030492672716272953

In [1417]:
# K-Fold Cross Validation
kf = KFold(n_splits=5)
scores_kf = cross_val_score(ridge_model,poly_features, y, cv=kf)
model_estimation(scores_kf)

CV Scores: [0.98795415 0.98938216 0.99130038 0.95890075 0.99375172]
Average Score: 0.984257831056446
Стандартное отклонение: 0.012826803571998044

In [1418]:
ss = ShuffleSplit(n_splits=5, test_size=0.25)
scores_ss = cross_val_score(ridge_model, poly_features, y, cv=ss)
model_estimation(scores_ss)

CV Scores: [0.98845806 0.98961104 0.9917517  0.96987824 0.99052913]
Average Score: 0.9860456361230066
Стандартное отклонение: 0.00815570264046463

### Кросс-валидация для задач классификации.

In [1419]:
df = pd.read_csv("penguins_size.csv")
df.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [1420]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   culmen_length_mm   342 non-null    float64
 3   culmen_depth_mm    342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                334 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [1421]:
df.isna().sum()

species               0
island                0
culmen_length_mm      2
culmen_depth_mm       2
flipper_length_mm     2
body_mass_g           2
sex                  10
dtype: int64

In [1422]:
# Удаляем отсутствующие данные, так как их немного
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 334 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            334 non-null    object
 1   island             334 non-null    object
 2   culmen_length_mm   334 non-null    float64
 3   culmen_depth_mm    334 non-null    float64
 4   flipper_length_mm  334 non-null    float64
 5   body_mass_g        334 non-null    float64
 6   sex                334 non-null    object
dtypes: float64(4), object(3)
memory usage: 20.9+ KB

In [1423]:
df['sex'].unique()

array(['MALE', 'FEMALE', '.'], dtype=object)

In [1424]:
df['species'].unique()

array(['Adelie', 'Chinstrap', 'Gentoo'], dtype=object)

In [1425]:
df[df['sex']=='.']

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
336,Gentoo,Biscoe,44.5,15.7,217.0,4875.0,.

In [1426]:
#удаляем строку, которая содержит'.'
df = df[df['sex']!='.']

In [1427]:
df=pd.get_dummies (df,columns=['sex'],dtype=int, drop_first = True)

In [1428]:
# Частотное кодирование
fe=df.groupby('island').size()/len(df)
fe = round(fe,2)
df.loc[:,'island_freq_encode']=df['island'].map(fe)
df.sample(10)

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex_MALE,island_freq_encode
283,Gentoo,Biscoe,54.3,15.7,231.0,5650.0,1,0.49
16,Adelie,Torgersen,38.7,19.0,195.0,3450.0,0,0.14
136,Adelie,Dream,35.6,17.5,191.0,3175.0,0,0.37
269,Gentoo,Biscoe,45.2,15.8,215.0,5300.0,1,0.49
181,Chinstrap,Dream,52.8,20.0,205.0,4550.0,1,0.37
321,Gentoo,Biscoe,55.9,17.0,228.0,5600.0,1,0.49
229,Gentoo,Biscoe,46.8,15.4,215.0,5150.0,1,0.49
153,Chinstrap,Dream,50.0,19.5,196.0,3900.0,1,0.37
206,Chinstrap,Dream,42.5,17.3,187.0,3350.0,0,0.37
239,Gentoo,Biscoe,48.7,15.1,222.0,5350.0,1,0.49

In [1429]:
df=df.drop(columns='island')
df.head()

,species,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex_MALE,island_freq_encode
0,Adelie,39.1,18.7,181.0,3750.0,1,0.14
1,Adelie,39.5,17.4,186.0,3800.0,0,0.14
2,Adelie,40.3,18.0,195.0,3250.0,0,0.14
4,Adelie,36.7,19.3,193.0,3450.0,0,0.14
5,Adelie,39.3,20.6,190.0,3650.0,1,0.14

Adelie	-0.44
Gentoo - 0.36
Chinstrap - 0.2

In [1430]:
# Частотное кодирование
#fe=df.groupby('species').size()/len(df)
#fe = round(fe,2)
#df.loc[:,'species_freq_encode']=df['species'].map(fe)
#df.sample(20)

In [1431]:
#df=df.drop(columns='species')
#df.head()

In [1432]:
#X = df.drop('species_freq_encode',axis=1)
#y = df['species_freq_encode']

In [1433]:
from sklearn.preprocessing import LabelEncoder
df['Species_label']= LabelEncoder().fit_transform(df.species)
df = df.drop('species',axis = 1)

In [1434]:
X=df.drop('Species_label',axis=True)
y=df['Species_label']

In [1435]:
scaler = StandardScaler()
scaler.fit(X)

StandardScaler()

In [1436]:
X=scaler.transform(X)

__________

### Используем StratifiedKFold

Лучшая оценка модель получается при StratifiedKFold валидации на моделе KNeighborsClassifier()

In [1437]:
#Используемst модели для анализа
logreg_cv = LogisticRegression(random_state = 0)
dt_cv = DecisionTreeClassifier()
knn_cv = KNeighborsClassifier()
svc_cv = SVC()

In [1438]:
skf = StratifiedKFold(n_splits=5)
scores = cross_val_score(logreg_cv, X, y, cv=skf)
model_estimation(scores)

CV Scores: [1.         0.98507463 0.98507463 1.         1.        ]
Average Score: 0.9940298507462686
Стандартное отклонение: 0.007311909679949807

In [1439]:
skf = StratifiedKFold(n_splits=5)
scores = cross_val_score(dt_cv, X, y, cv=skf)
model_estimation(scores)

CV Scores: [1.         0.98507463 0.92537313 0.95454545 0.95454545]
Average Score: 0.9639077340569878
Стандартное отклонение: 0.026118610007522518

In [1440]:
skf = StratifiedKFold(n_splits=5)
scores = cross_val_score(knn_cv, X, y, cv=skf)
model_estimation(scores)

CV Scores: [0.98507463 0.98507463 0.98507463 1.         0.98484848]
Average Score: 0.9880144730891001
Стандартное отклонение: 0.005993403445853452

In [1441]:
skf = StratifiedKFold(n_splits=5)
scores = cross_val_score(svc_cv, X, y, cv=skf)
model_estimation(scores)

CV Scores: [1.         1.         0.98507463 1.         1.        ]
Average Score: 0.9970149253731343
Стандартное отклонение: 0.005970149253731361

### Используем Leave One Out (LOO)

Использование Leave One Out дало плохие результаты оценки модели

In [1442]:
loo = LeaveOneOut()
scores = cross_val_score(logreg_cv, X, y, cv=loo)
model_estimation(scores)

CV Scores: [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
Average Score: 0.993993993993994
Стандартное отклонение: 0.07726534732894058

In [1443]:
loo = LeaveOneOut()
scores = cross_val_score(dt_cv, X, y, cv=loo)
model_estimation(scores)

CV Scores: [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 0. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
Average Score: 0.972972972972973
Стандартное отклонение: 0.16216216216216214

In [1444]:
loo = LeaveOneOut()
scores = cross_val_score(knn_cv, X, y, cv=loo)
model_estimation(scores)

CV Scores: [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 0. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
Average Score: 0.990990990990991
Стандартное отклонение: 0.09448728361893258

In [1445]:
loo = LeaveOneOut()
scores = cross_val_score(svc_cv, X, y, cv=loo)
model_estimation(scores)

CV Scores: [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
Average Score: 0.993993993993994
Стандартное отклонение: 0.07726534732894058

### Используем Shuffle Split

Низкую вариативность score, а значит и лучшй результат показала модели DecisionTreeClassifier

In [1446]:
ss = ShuffleSplit(n_splits=5, test_size=0.25)
scores = cross_val_score(logreg_cv, X, y, cv=ss)

model_estimation(scores)

CV Scores: [1.         1.         1.         1.         0.98809524]
Average Score: 0.9976190476190476
Стандартное отклонение: 0.004761904761904745

In [1447]:
ss = ShuffleSplit(n_splits=5, test_size=0.25)
scores = cross_val_score(dt_cv, X, y, cv=ss)
model_estimation(scores)

CV Scores: [0.95238095 0.96428571 0.98809524 0.96428571 0.98809524]
Average Score: 0.9714285714285715
Стандартное отклонение: 0.014285714285714316

In [1448]:
ss = ShuffleSplit(n_splits=5, test_size=0.25)
scores = cross_val_score(knn_cv, X, y, cv=ss)
model_estimation(scores)

CV Scores: [0.98809524 1.         0.98809524 1.         0.97619048]
Average Score: 0.9904761904761905
Стандартное отклонение: 0.008908708063747483

In [1449]:
ss = ShuffleSplit(n_splits=5, test_size=0.25)
scores = cross_val_score(svc_cv, X, y, cv=ss)
model_estimation(scores)

CV Scores: [0.97619048 1.         1.         0.97619048 0.98809524]
Average Score: 0.9880952380952381
Стандартное отклонение: 0.01064794274999901

## Используем  Time Series Split

In [1453]:
X = np.random.randn(12, 2)
y = np.random.randint(0, 2, 12)
tscv = TimeSeriesSplit(n_splits=3, test_size=2)
for i, (train_index, test_index) in enumerate(tscv.split(X)):
    print(f"Fold {i}:")
    print(f"  Train: index={train_index}")
    print(f"  Test:  index={test_index}")

model = LogisticRegression()
scores = cross_val_score(model, X, y, cv=tscv)
model_estimation(scores)

Fold 0:
  Train: index=[0 1 2 3 4 5]
  Test:  index=[6 7]
Fold 1:
  Train: index=[0 1 2 3 4 5 6 7]
  Test:  index=[8 9]
Fold 2:
  Train: index=[0 1 2 3 4 5 6 7 8 9]
  Test:  index=[10 11]
CV Scores: [0.  0.5 0.5]
Average Score: 0.3333333333333333
Стандартное отклонение: 0.23570226039551584